/* ---About Page CSS--- */

/* About page wrapper */
#about-wrapper {
  display: flex;
  flex-direction: column;
}

/* About page hero image */

.about-hero {
  width: 100%;
  height: 40vh;
  min-height: 300px;

  background-position: 50% 72%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://res.cloudinary.com/dtbi27ygq/image/upload/v1638902940/Header%20Images/Optimized%20Header%20Images/harmony-farms-sanctuary-header-2_1_1_levdrg.jpg");
}

/* About wrapper around image and description text */
#about-img-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 1.5rem;
}

/* About images wrapper */
#about-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

/* About page image 1 */
#about-img {
  max-width: 900px;
  border-radius: 1rem;
  box-shadow: var(--bs);
}

/* About page img captions */
#about-img-caption {
  margin-top: 1rem;
  font-family: var(--ff-secondary);
  color: var(--clr-drk-green);
}

/* About page wrapper around description */
#about-desc-wrapper {
  background-color: var(--clr-drk-green);
  padding: 1em;
}

/* About page description heading */
#about-desc-heading {
  font-family: var(--ff-primary);
  color: var(--clr-yellow);
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.1em;
}

/* Underline under headings */

#about-desc-heading::after {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  margin: 2rem auto;
  background: black;
  opacity: 0.35;
}

/* About page description */
.about-desc {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.7rem;
  color: black;
  padding: 0.2rem;
  margin-top: 1rem;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 1rem;
  /*   */
}

/* ---About Mobile Responsive--- */
@media screen and (min-width: 360px) and (max-width: 809px) {
  /* ---About Page CSS--- */

  /* About page wrapper */
  #about-wrapper {
    display: flex;
    flex-direction: column;
  }

  /* About wrapper around image and description text */
  #about-img-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 0.1rem;
  }

  /* About page main image */
  #about-img {
    max-width: 375px;
    border-radius: 1rem;
  }

  /* About page img caption */
  #about-img-caption {
    margin-top: 1rem;
    font-size: 0.7rem;
    font-family: var(--ff-secondary);
    color: var(--clr-drk-green);
  }

  /* About page description heading */
  #about-desc-heading {
    font-size: 1.5em;
    margin: auto;
    margin-top: 1em;
  }

  /* About page description */
  .about-desc {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1em;

  }
}
  
  @media screen and (min-width: 810px) and (max-width: 1024px) {
    /* ---About Page CSS--- */
  
    /* About page wrapper */
    #about-wrapper {
      display: flex;
      flex-direction: column;
    }
  
    /* About wrapper around image and description text */
    #about-img-text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-top: 0.1rem;
    }
  
    /* About page main image */
    #about-img {
      max-width: 750px;
      border-radius: 1rem;
    }
  
    /* About page img caption */
    #about-img-caption {
      margin-top: 1rem;
      font-size: 1rem;
      font-family: var(--ff-secondary);
      color: var(--clr-drk-green);
    }
  
    /* About page description heading */
    #about-desc-heading {
      font-size: 2.5em;
      margin: auto;
      margin-top: 1em;
    }
  
    /* About page description */
    .about-desc {
      margin: auto;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
