*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ---Root Level CSS--- */
:root {
  /* Font families */
  --ff-primary: "Architects Daughter", cursive;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-tertiary: "Raleway", sans-serif;

  /* Font weights */
  --fw-reg: 300;
  --fw-bold: 900;

  /* Colors */
  --clr-light-green: rgb(180, 198, 166);
  --clr-drk-green: rgb(102, 128, 106);
  --clr-orange: rgb(255, 194, 134);
  --clr-yellow: rgb(255, 241, 175);
  --clr-text: #303030;
  --clr-white: rgb(247, 247, 247);

  /* Font sizes */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  /* Box shadows */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h1-alt: 5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

h1 {
  letter-spacing: 1.5px;
}

/* --- Navbar styling --- */
/* .Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 8px;
  background-color: white;
  width: 100%;
  height: 90px;
  font-family: var(--ff-primary);
} */

/* .Navbar .links {
  flex: 70%;
  display: inline-flex;
  flex-wrap: wrap;
  /* flex-grow: 4; */
/* justify-content: left;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
  text-decoration: none;
  color: var(--clr-drk-green);
  font-size: 22px;
  /* margin-right: 20px; */
/* } */

.Navbar a {
  margin-right: 8px;
}

.Navbar .links a:hover {
  text-decoration: overline;
  color: cornflowerblue;
  font-weight: var(--fw-bold);
}

.Navbar .rightSide #button:hover {
  cursor: pointer;
}

.Navbar .rightSide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 35px;
  width: 20px;
  margin-right: 10px;
  border: 6px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: var(--fw-bold);
  color: white;
  /* color: var(--clr-drk-green); */
}

.Navbar .button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    #f7708b,
    #e75b70,
    #d64656,
    #c3313b,
    #af1a21
  );
}

/* Dropdown Menu Styling */

/* Media responsiveness for Navbar */
@media screen and (min-width: 810px) and (max-width: 1024px) {
  .Navbar .leftSide .links {
    width: 80%;
  }
}
/* @media screen and (min-width: 360) and (max-width: 809px) {
  .Navbar .leftSide .links a {
    display: none;
    font-size: 10px;
    flex-shrink: 6;
    add hamburger menu and list items for THIS media respo
  } */
/* } */

/* ---styles for hero image--- */
#hero-image {
  width: 100%;
  height: 40vh;
  min-height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./img/farm-landscape.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  font-size: var(--fs-h3);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-drk-green);
  text-shadow: 1px 1px var(--clr-text);
}

.hero-welcome-text {
  background-color: rgb(255, 241, 175, 0.7);
  padding: 0.5em;
  border-radius: 10px;
  width: 80vw;
  font-family: var(--ff-primary);
  letter-spacing: 1.5px;
}

/* media query for hero image text */
@media (max-width: 750px) {
  .hero-text {
    font-size: 1em;
    width: 80%;
    max-height: 185px;
  }

  #intro-image-container {
    flex-wrap: wrap;
  }
}

/* ---styling for intro images--- */
#intro-image-container {
  width: 100%;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.outside-image {
  display: flex;
  align-self: center;
}

.center-container {
  display: flex;
  align-self: center;
}

.intro-image {
  max-width: 1fr;
  min-width: 150px;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: var(--bs);
  margin: 0.5em 1.5em;
}

.middle-image {
  max-height: 350px;
  display: flex;
  align-self: center;
}

@media (min-width: 751px) {
  .outside-image-left {
    margin-left: 2em;
  }

  .outside-image-right {
    margin-right: 2em;
  }

  .middle-image {
    margin: 2em;
  }
}
/* Styles for meet the animals button */

.meet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  font-family: var(--ff-primary);
}

.button {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-light-green);
  color: var(--clr-text);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  border-radius: 10px;
  border: 2px solid var(--clr-drk-green);
  filter: drop-shadow(1px 1px 2px rgb(77, 76, 76));
}

.button:hover {
  transform: scale(1.1);
}

/* Styles for QuoteContainerOne/Two */

#quote-container-one,
#quote-container-two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background: var(--clr-drk-green);
  margin-top: 1.5em;
  flex-wrap: wrap;
}

/* #quote-container-two {
  flex-wrap: wrap-reverse;
} */

.quote-one-text,
.quote-two-text {
  margin: 0 2em;
  text-align: center;
  font-size: 1em;
  margin: 1em;
  font-family: var(--ff-secondary);
  background-color: rgb(255, 241, 175, 0.7);
  padding: 0.5em;
  border-radius: 10px;
  /* border: 2px solid var(--clr-light-green); */
  box-shadow: var(--bs);
}

.quote-one-image,
.quote-two-image {
  max-width: 250px;
  margin: 0 1.5em 1em;
  border-radius: 10px;
  box-shadow: var(--bs);
}

.quote-two-image {
  max-width: 250px;
  margin: 1em 1.5em 0;
  border-radius: 10px;
  box-shadow: var(--bs);
}

@media (min-width: 700px) and (max-width: 850px) {
  #quote-container-one,
  #quote-container-two {
    flex-wrap: nowrap;
  }

  .quote-one-text,
  .quote-two-text {
    max-height: 180px;
  }

  .quote-one-image,
  .quote-two-image {
    margin: 1em;
  }
}

@media (min-width: 900px) {
  #quote-container-one,
  #quote-container-two {
    justify-content: space-around;
    flex-wrap: nowrap;
    max-width: 100vw;
  }

  .quote-one-text,
  .quote-two-text {
    font-size: 1.75em;
    max-width: 50vw;
  }

  .quote-one-image,
  .quote-two-image {
    max-width: 375px;
    margin: 2em;
  }
}

/* Card styles */
.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: fit-content;
  flex-wrap: wrap;
  margin-top: 1em;
}
.card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--bs);
  transition: 0.3s;
  overflow: hidden;
  max-width: 300px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 2px solid var(--clr-drk-green);
}

.card-title {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  color: var(--clr-text);
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  max-height: fit-content;
}

.card-text {
  font-family: var(--ff-secondary);
  font-weight: 550;
  color: var(--clr-text);
  text-align: center;
  margin-top: 0;
  max-height: fit-content;
}

.card-title::after {
  content: "";
  display: block;
  width: 4em;
  height: 1px;
  margin: 0.5em auto;
  background: var(--clr-drk-green);
  opacity: 0.35;
}

.card-image {
  max-width: 300px;
  /* border-radius: 10px 10px 0 0; */
}

.merch-image {
  position: relative;
  left: 0.4em;
  top: 0.5em;
  z-index: -1;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.container {
  padding: 2px 16px;
  background: var(--clr-light-green);
  border-top: 1px solid var(--clr-drk-green);
}

@media (min-width: 500px) and (max-width: 1000px) {
  .card-image {
    max-width: 225px;
  }

  .card {
    max-width: 225px;
  }
}
@media (min-width: 700px) {
  .card-container {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1025) {
  .card-image {
    max-width: 450px;
  }

  .card {
    max-width: 450px;
  }
}

/* Styles for Footer */

.footer-links {
  display: flex;
  justify-content: center;
}

.social-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.social-icon {
  margin: 0.5em;
}

.footer-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1em;
}

a {
  text-decoration: none;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  color: var(--clr-drk-green);
}

/* @media (min-width: 1025px) {
  .footer-list-container {
    flex-direction: row;
  }

  .footer-links {
    flex-direction: column;
  }

  a {
    font-size: 1.5em;
  }
} */

/* Styles for donate page */

.donate-header,
.cash-donation-header {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  color: var(--clr-drk-green);
  text-align: center;
  margin: 0.5em 0.5em;
  text-shadow: 1px 1px var(--clr-text);
}

.donate-text {
  font-family: var(--ff-secondary);
  font-size: 1em;
  text-align: center;
  margin: 0 0.5em 1em;
}

#cash-donation-container,
#donate-goods {
  background-color: var(--clr-yellow);
  padding: 1em 0;
}

.donate-text::before,
.cash-donation-header::after {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  margin: 2rem auto;
  background: var(--clr-drk-green);
  opacity: 0.35;
}

.money-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.money-text {
  text-align: center;
  margin: 0.5em;
}

.money-button {
  margin: 0.5em 1em;
  font-size: 1.1em;
  min-width: 325px;
  max-width: 325px;
}

.line-break {
  display: flex;
  flex-direction: column;
}

@media (min-width: 750px) {
  .money-button-container {
    flex-direction: row;
    margin: 2em 0;
  }
  .money-button-container::after {
    display: none;
  }

  .money-button {
    min-width: 100px;
  }

  .donate-card-container {
    flex-direction: row;
  }

  .donate-card-container::after {
    display: none;
    margin: 2em 0;
  }

  .donate-text,
  .money-text {
    max-width: 75vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
  }

  .donate-text::after {
    display: none;
  }
}

@media (min-width: 900px) {
  .donate-text,
  .money-text {
    max-width: 55vw;
  }

  #cash-donation-container,
  #donate-goods {
    margin: 2em 0 0 0;
  }
}

/* Sponsor Page Styles */

#sponsor-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  margin-top: 3em;
  margin-bottom: 2em;
  justify-content: center;
  max-height: fit-content;
  background: var(--clr-yellow);
  width: 100%;
  padding-bottom: 2em;
}

.sponsor-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: fit-content;
  flex-wrap: wrap;
  margin-top: 1em;
}
.sponsor-card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--bs);
  transition: 0.3s;
  overflow: hidden;
  max-width: 300px;
  margin-top: 1em;
  border-radius: 10px;
  border: 2px solid var(--clr-drk-green);
}

.sponsor-card-title {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  color: var(--clr-text);
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  max-height: fit-content;
}

.sponsor-card-text {
  font-family: var(--ff-secondary);
  font-weight: 550;
  color: var(--clr-text);
  text-align: center;
  margin-top: 0;
  max-height: fit-content;
}

.sponsor-card-title::after {
  content: "";
  display: block;
  width: 4em;
  height: 1px;
  margin: 0.5em auto;
  background: var(--clr-drk-green);
  opacity: 0.35;
}

.sponsor-card-image {
  max-width: 300px;
}

.sponsor-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.sponsor-container {
  padding: 2px 16px;
  background: var(--clr-light-green);
  border-top: 1px solid var(--clr-drk-green);
}

@media (min-width: 1025px) {
  #sponsor-container {
    grid-template-columns: repeat(4, minmax(250px, 350px));
  }
}

/* Raffle page styling */

@media (min-width: 1025px) {
  .raffle-header::before {
    content: "";
    display: block;
    width: 4rem;
    height: 1px;
    margin: 2rem auto;
    background: var(--clr-drk-green);
    opacity: 0.35;
  }
  .raffle-header {
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    color: var(--clr-drk-green);
    text-align: center;
    margin-top: 1.5em;
    text-shadow: 1px 1px var(--clr-text);
  }

  .raffle-text {
    font-family: var(--ff-secondary);
    font-size: 1em;
    text-align: center;
    margin: 0 0.5em 1em;
  }

  .raffle-donate-container {
    background-color: rgb(255, 241, 175, 0.7);
  }

  .winner-display {
    background-color: rgb(255, 241, 175, 0.7);
    padding: 0.0001em;
    border-radius: 30px;
    font-family: var(--ff-primary);
    letter-spacing: 1.5px;
  }

  .winner-name {
    color: black;
  }

  .raffle-images {
    display: flex;
    justify-content: space-around;
  }
}
