*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: Georgia, "Times New Roman", Times, serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light-green: rgb(180, 198, 166);
  --clr-drk-green: rgb(102, 128, 106);
  --clr-orange: rgb(255, 194, 134);
  --cly-yellow: rgb(255, 241, 175);
  --clr-text: #303030;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
