*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: Georgia, "Times New Roman", Times, serif;
  --ff-primary-test: 'Rokkitt', serif;
  --ff-secondary: 'Roboto Condensed', sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light-green: rgb(180, 198, 166);
  --clr-drk-green: rgb(102, 128, 106);
  --clr-orange: rgb(255, 194, 134);
  --cly-yellow: rgb(255, 241, 175);
  --clr-text: #303030;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h1-alt: 5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* ---About Page CSS--- */

/* About page wrapper */
#about-wrapper {
  display: flex;
  flex-direction: column;
}

/* About page heading wrapper */
#about-heading-wrapper {
  margin-top: 4rem;
}

/* About page header */
#about-heading {
  display: flex;
  justify-content: center;
  font-family: var(--ff-primary-test);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1-alt);
  color: var(--cly-yellow);
  background-color: var(--clr-drk-green);
  letter-spacing: 0.03em;
}

/* About emojis in heading */
.emoji-style {
  font-weight: 100;
  font-size: 3.3rem;
  letter-spacing: 1rem;
}

/* About wrapper around image and description text */
#about-img-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 1.5rem;
}

/* About page main image */
#about-img {
  max-width: 600px;
  border-radius: 1rem;
  border: 15px solid var(--clr-light-green);
}

/* About page description */
#about-desc {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  max-width: 600px;
  color: var(--clr-drk-green);
  background-color: var(--clr-orange);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: -1.5rem;
}

/* ---Mobile Responsive--- */
@media screen and (min-width: 375px) and (max-width: 810px) {
/* ---About Page CSS--- */

/* About page wrapper */
#about-wrapper {
  display: flex;
  flex-direction: column;
}

/* About page heading wrapper */
#about-heading-wrapper {
  margin-top: 4rem;
}

/* About page header */
#about-heading {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  letter-spacing: 0.03em;
}

/* About emojis in heading */
.emoji-style {
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: .5rem;
  margin-top: .6rem;
}

/* About wrapper around image and description text */
#about-img-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 0.1rem;
}

/* About page main image */
#about-img {
  max-width: 350px;
  border-radius: 1rem;
  border: 8px solid var(--clr-light-green);
}

/* About page description */
#about-desc {
  max-width: 350px;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: -1.5rem;
}
}

