/* Contact Container */
#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contact Header */
#contact-header {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  color: var(--clr-drk-green);
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  text-shadow: 1px 1px var(--clr-text);
}

#contact-header::after {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  margin: 2rem auto;
  background: var(--clr-drk-green);
  opacity: 0.35;
}

/* Contact description text */
#contact-text {
  font-family: var(--ff-secondary);
  font-size: 1.5em;
  font-weight: var(--fw-bold);
  max-width: 800px;
  text-align: center;
  line-height: 1.5em;
}

/* Contact form wrapper */
#contact-form-wrapper {
  background-color: var(--clr-yellow);
  padding: 5em 15em;
  margin-top: 4em;
}

@media screen and (min-width: 360px) and (max-width: 809px) {
  #contact-text {
    font-size: 1.2em;
    margin-top: 1em;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
  }

  #contact-form-wrapper {
    margin-top:4em;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 810px) and (max-width: 1024px) {
    #contact-header {
        font-size: 3em;
        text-align: center;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 2rem;
        text-shadow: 1px 1px var(--clr-text);
      }

      #contact-text {
        font-size: 1.2em;
        margin-top: auto;
        max-width: 600px;
        text-align: center;
      } 

      #contact-form-wrapper {
        margin-top:4em;
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #contact-form-container {
        margin-top: 2em;
        width: 750px;
       }
}