/* Glamping Container */
#glamping-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Glamping Header */
#glamping-header {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  color: var(--clr-drk-green);
  text-align: center;
  margin: 0.5em 0.5em;
  text-shadow: 1px 1px var(--clr-text);
}

#glamping-header::after {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  margin: 2rem auto;
  background: var(--clr-drk-green);
  opacity: 0.35;
}

/* Glamping description */
#glamping-text {
  font-family: var(--ff-secondary);
  font-size: 1.5em;
  margin-right: 150px;
  margin-left: 150px;
  text-align: center;
  line-height: 1.5em;
}

/* Glamping imgs wrapper */
#glamping-img-wrapper {
  margin-top: 3em;
}

/* 1st HipCamp Img */
#hipcamp1-img {
  max-width: 400px;
  border-radius: 1rem;
  box-shadow: var(--bs);
  margin-right: 1em;
  margin-bottom: 2em;
}

/* 2nd HipCamp Img */
#hipcamp2-img {
  max-width: 550px;
  border-radius: 1rem;
  box-shadow: var(--bs);
}

/* 3rd HipCamp Img */
#hipcamp3-img {
  max-width: 400px;
  border-radius: 1rem;
  box-shadow: var(--bs);
  margin-left: 1em;
  margin-bottom: 2em;
}

/* Glamping caption */
#glamping-img-caption {
  margin-top: 1rem;
  font-family: var(--ff-secondary);
  color: var(--clr-drk-green);
}

/* Book HipCamp Button */
#hip-camp-button-container {
  margin-top: 2em;
}

/* Button to book via HipCamp */
.hip-camp-button {
  margin: 0.5em 1em;
  font-size: 1.1em;
  min-width: 325px;
  max-width: 325px;
}

/* Tour Wrapper */
#tour-wrapper {
  background-color: var(--clr-yellow);
  padding: 1em 0;
  margin-top: 50px;
}

/* Tour header */
#tour-header {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  color: var(--clr-drk-green);
  text-align: center;
  margin: 0.5em 0.5em;
  text-shadow: 1px 1px var(--clr-text);
}

#tour-header::after {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  margin: 2rem auto;
  background: var(--clr-drk-green);
  opacity: 0.35;
}

/* Tour Image */
#tour-img {
  max-width: 550px;
  border-radius: 1rem;
  box-shadow: var(--bs);
  margin-left: auto;
}

/* Wrapper around Img and Description Text */
#tour-img-text-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

/* Tour Description Text */
#tour-text {
  max-width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 1.5em;
  font-family: var(--ff-secondary);
  line-height: 1.5em;
}

/* Tour Button Container */
#tour-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Tour Button */
.tour-button {
  margin: 0.5em 1em;
  font-size: 1.1em;
  min-width: 325px;
  max-width: 325px;
}

/* Volunteer Wrapper */
#volunteer-wrapper {
  margin-top: 40px;
}

/* Volunteer Header */
#volunteer-header {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  color: var(--clr-drk-green);
  text-align: center;
  text-shadow: 1px 1px var(--clr-text);
}

#volunteer-header::after {
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  margin: 2rem auto;
  background: var(--clr-drk-green);
  opacity: 0.35;
}

/* Volunteer text and img wrapper */
#volunteer-img-text-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

#volunteer-text {
  max-width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-size: 1.5em;
  font-family: var(--ff-secondary);
  line-height: 1.5em;
}

#volunteer-img {
  max-width: 550px;
  border-radius: 1rem;
  box-shadow: var(--bs);
  margin-right: auto;
}

#volunteer-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Volunteer contact us button */
.volunteer-button {
  margin: 0.5em 1em;
  font-size: 1.1em;
  min-width: 325px;
  max-width: 325px;
}

@media screen and (min-width: 360px) and (max-width: 809px) {
  /* Glamping description */
  #glamping-text {
    font-family: var(--ff-secondary);
    font-size: 1.2em;
    margin-top: 1em;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
  }

  /* Glamping imgs wrapper */
  #glamping-img-wrapper {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* 1st HipCamp Img */
  #hipcamp1-img {
    max-width: 330px;
    border-radius: 1rem;
    box-shadow: var(--bs);
    margin: auto;
    margin-bottom: 1em;
  }

  /* 2nd HipCamp Img */
  #hipcamp2-img {
    max-width: 350px;
    border-radius: 1rem;
    box-shadow: var(--bs);
    margin: auto;
    margin-bottom: 1em;
  }

  /* 3rd HipCamp Img */
  #hipcamp3-img {
    max-width: 330px;
    border-radius: 1rem;
    box-shadow: var(--bs);
    margin: auto;
    margin-bottom: 1em;
  }

  /* Glamping caption */
  #glamping-img-caption {
    margin-top: 1rem;
    font-family: var(--ff-secondary);
    color: var(--clr-drk-green);
  }

  /* Tour Image */
  #tour-img {
    max-width: 350px;
    border-radius: 1rem;
    box-shadow: var(--bs);
    margin: auto;
  }
  
  /* Wrapper around Img and Description Text */
  #tour-img-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  /* Tour Description Text */
  #tour-text {
    max-width: 330px;
    text-align: center;
    margin: auto;
    margin-top: 1.75em;
    font-size: 1.2em;
  }
    
  /* Volunteer text and img wrapper */
  #volunteer-img-text-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  #volunteer-text {
    max-width: 330px;
    text-align: center;
    margin: auto;
    margin-bottom: 2em;
    font-size: 1.2em;
  }
  
  #volunteer-img {
    max-width: 350px;
    border-radius: 1rem;
    box-shadow: var(--bs);
    margin: auto;
  }
  
}

@media screen and (min-width: 810px) and (max-width: 1024px) {
   /* Glamping Container */
#glamping-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Glamping Header */
  #glamping-header {
    font-family: var(--ff-primary);
    font-size: 3em;
    margin: 0.5em 0.5em;
    margin-top: 1em;  
  }
  
  /* Glamping description */
  #glamping-text {
    font-family: var(--ff-secondary);
    font-size: 1.5em;
    margin: auto;
    text-align: center;
  }
  
  /* Glamping imgs wrapper */
  #glamping-img-wrapper {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* 1st HipCamp Img */
  #hipcamp1-img {
    max-width: 720px;
    margin: auto;
    margin-bottom: 1em;
  }
  
  /* 2nd HipCamp Img */
  #hipcamp2-img {
    max-width: 750px;
    margin: auto;
    margin-bottom: 1em;
  }
  
  /* 3rd HipCamp Img */
  #hipcamp3-img {
    max-width: 720px;
    margin: auto;
    margin-bottom: 1em;
  }
  
  
  /* Tour header */
  #tour-header {
    font-family: var(--ff-primary);
    font-size: 3em;
    margin: 0.5em 0.5em;
    margin-top: 1em;
  }
  
  /* Tour Image */
  #tour-img {
    max-width: 550px;
    border-radius: 1rem;
    box-shadow: var(--bs);
    margin: auto;
  }
  
  /* Wrapper around Img and Description Text */
  #tour-img-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  /* Tour Description Text */
  #tour-text {
    max-width: 650px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-size: 1.5em;
    font-family: var(--ff-secondary);
  }
  
  /* Volunteer Wrapper */
  #volunteer-wrapper {
    margin-top: 40px;
  }
  
  /* Volunteer Header */
  #volunteer-header {
    font-family: var(--ff-primary);
    font-size: 3em;
    margin: 0.5em 0.5em;
    margin-top: 1em;
  }
  
  /* Volunteer text and img wrapper */
  #volunteer-img-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  #volunteer-text {
    max-width: 650px;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-family: var(--ff-secondary);
  }
  
  #volunteer-img {
    max-width: 550px;
    border-radius: 1rem;
    box-shadow: var(--bs);
    margin: auto;
  }
  }
