*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ---Root Level CSS--- */
:root {
  /* Font families */
  --ff-primary: "Architects Daughter", cursive;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-tertiary: "Raleway", sans-serif;

  /* Font weights */
  --fw-reg: 300;
  --fw-bold: 900;

  /* Colors */
  --clr-light-green: rgb(180, 198, 166);
  --clr-drk-green: rgb(102, 128, 106);
  --clr-orange: rgb(255, 194, 134);
  --clr-yellow: rgb(255, 241, 175);
  --clr-text: #303030;
  --clr-white: rgb(247, 247, 247);

  /* Font sizes */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  /* Box shadows */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

button {
  padding: 1%;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-primary);
}

.animalListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-text);
}

.editModal {
  flex-direction: column;
  z-index: 1;
  position: fixed;
  top: 10vh;
  left: 25vw;
  overflow: auto;
  align-items: center;
  color: var(--clr-text);
}

.editForm {
  padding: 20px;
  padding-right: 40px;
  border: 2px solid black;
  background-color: var(--clr-drk-green);
}

.editButtons {
  display: flex;
  justify-content: space-around;
  padding: none;
  padding-top: 2vh;
}

.imageNavButtons {
  display: flex;
  padding-bottom: 1em;
}

.imageEditModal {
  flex-direction: column;
  background-color: var(--clr-orange);
  width: fit-content;
  padding: 1em;
}

.newImageForm {
  display: flex;
  flex-direction: column;
}

.imageEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageTitle {
  font-family: var(--ff-primary);
}

.imageBody {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1em;
}

.imageBody > * {
  padding: 0.5em;
  background-color: var(--clr-orange);
  border-radius: 2%;
}

.imageBody > div > div {
  cursor: pointer;
  display: list-item;
  list-style-position: inside;
}

.imageEdit > h4 {
  border-bottom: 1px solid var(--clr-text);
}

.animalBox {
  padding: 2px;
  background-color: var(--clr-orange);
  border-radius: 5%;
}

.addAnimal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
}

.addAnimalForm {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 150%;
  bottom: 30vh;
  padding: 5px;
}

.addAnimalForm > label > input {
  height: 2em;
  width: 12em;
}

.submitWrapper {
  padding-top: 1em;
}

.animalDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  margin-top: 3em;
  margin-bottom: 2em;
  justify-content: center;
  max-height: fit-content;
  width: 100%;
  padding-bottom: 2em;
  padding-left: 2em;
  grid-gap: 3px;
}

.logOut {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 15em;
  padding: 5px;
}
